@charset "UTF_8";

a{
    padding: 5px 10px;
    text-decoration: none;
}

/*Links não Visitados*/
a:link, a:visited{
    color: #b9c941;
}

/*Links Visitados*/
a:visited{

}

/*Links Hover, passa o cursor sobre o link*/

a:hover{
    color: black;
    background-color: #6d790f;
}

/*Links Ativos, quando clicamos*/

a:active{
    color: #e4f371;
}