@charset "UTF-8";

body{
    background-color: #007fc7;
}

#container{
    background-color: #FFF;
    width: 800px;
    margin: 10px auto;
}

h1{

}

p{
    padding: 10px;
    width: 400px;
}

.relative{
    border: 1px solid red;
    position: relative;


    top: -30px;
    left: 80px;
}