@charset "UTF-8";

.conteudo{
    background: blue;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    margin: 10px;
    float: right;
}

.clear{
    clear: both;
}

#principal{
    background-color: green;
    border: 5px solid red;
}





/*#conteudo1{
    background: red;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;
}*/

