@charset "UTF-8";

body{
    background-color: #f4f4f4;
}

#principal{
    width: 920px;

}

.noticia{
    background: #e5e5e5;
    padding: 5px;
    margin: 7px;
    width: 280px;
    float: left;
}

.clear{
    clear: both;
}

.imagem-galeria{
    background-color: white;
    padding: 5px;
    margin: 15px;
    width: 265px;
    float: left;
}
